.room-userslist {
  width: 30%;
  height: 25%;
  top: 0.1%;
  left: 70%;
  right: 1%;
  /* transform: translate(-50%, 0%); */
  position: absolute;
  border-radius: 25px;
  /* align-content: center; */
  align-items: center;
  /* border-style: dashed; */
}
.mock-test {
  width: 70%;
  height: 100%;
  top: 0.1%;
  left: 0.1%;
  position: absolute;
  border-radius: 1px;
  align-content: center;
  text-align: center;
  align-items: center;
  border: 5px;
  border-style: groove;
}

.card .card-header .timer {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  background: #eff3fe;
  color: #1e54b7;
}
